@import "react-slideshow-image/dist/styles.css";
body {
  margin: 70px 1vw;
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.flex {
  display: flex;
  justify-content: center;
}

.showGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.2vw;
  /* line-gap-override: 10rem; */
  color: white;
}

.allShows {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 75vh;
  overflow-x: auto;
}

/* display list in overflow */
.element {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
/* hide scrollbar */
.element::-webkit-scrollbar {
  width: 0 !important;
}
.allShows::-webkit-scrollbar {
  width: 0 !important;
}

/* display list in wrap  */
.element1 {
  display: flex;
  flex-wrap: wrap;
}

img {
  border-radius: 8px;
}

.category-title {
  color: rgb(25, 126, 227);
  /* margin-bottom: -0.1vw; */
  /* font-size: 3vw; */
}
.zoom {
  transition: transform 0.3s;
}

.zoom:hover {
  transform: scale(1.08);
}

.featured-show {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 200px;
}
#slide-container {
  display: flex;
  justify-content: space-evenly;
  padding: auto;
}
#img-not-found {
  height: 10vh;
  width: 10vw;
}
/* .dFlex {
  display: "flex";
  justify-content: "space-between";
} */
